
<section>
    
    <article class="middle">
        <form action="controladorLogin.php" method="POST">
            <div class="container">
              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" id="username" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" id="password" required>

              <button type="submit">Login</button>
            </div>
        </form>
    </article>
</section>
