<!DOCTYPE html>
<html lang="es">
  <head>
      <link rel="stylesheet" href="css/main.css">
      <title>Lab14</title>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  </head>
<body>
  <div class="row">
    <div class="col s12 blue lighten-3">
      <div class="row">
        <div class="col s2">
          <p>Logo</p>
        </div>
        <div class="col s8">

        </div>
        <div class="col s2">
          <p>Iniciar sesion</p>
        </div>
      </div>
    </div>
