h1{
  text-align: center;
  text-shadow: 10;
}

#boton{
  text-align: center;
}


#tabla{
  display: none;
}

#tabla2{
  display: none;
}

#tabla3{
  display: none;
}

#tabla4{
  display: none;
}

#tabla5{
  display: none;
}
